@(content:Html)
<html lang="en">
    <head>
        <title>Collagen2018</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.css">
        <link href="../../public/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.css">
        <h1 ><p style="background-color: lightpink" align=center> <strong> <b> Collagen 2018 &nbsp;Shop  </b></strong></p></h1>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="row" >
                <div class="col-md-1">
                    @menu_page()
                </div>
                <div class=" col-md-11">
                    @content
                </div>
            </div>
            <br>
            <div class="row">
            @address()
            </div>
        </div>
    </body>
</html>