<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<p style="color: #8a6d3b" align="center">
    <strong>
        <b>
            <a href="/" class="btn btn-info"style="width: 100%;"><strong><b>home</b> </strong> </a><br>
            <a href="/product"class="btn btn-info"style="width: 100%;"><strong> <b>product</b></strong> </a><br>
            <a href="/oder"class="btn btn-info"style="width: 100%;"> <strong><b>oder</b></strong></a><br>
            <a href="/promotion"class="btn btn-info"style="width: 100%;">  <strong> <b> promotion </b></strong></a><br>
            <a href="/dtp" class="btn btn-info" style="width: 100%;"> <strong> <b>shop</b></strong></a><br>
            <a href="/inputCollagen" class="btn btn-info" style="width: 100%;"> <strong> <b> inputCollagen </b></strong></a><br>
        </b>
    </strong>
</p>